{% extends "P3CoreBundle::layout.html.twig" %} {% block body %}

<div class="container">

    <div class="row">

        <div id="jourouvert" class="col-md-6">
            <h2 id="accueil">Accueil</h2>
            <h3>Jours et horaires d'ouverture :</h3></br>
            </br>
            <ul>
                <li>Lundi : 9h à 19h</br>
                </li>
                <li>Mercredi : 9h à 19h</br>
                </li>
                <li>Jeudi : 9h à 19h</br>
                </li>
                <li>Vendredi : 9h à 19h</br>
                </li>
                <li>Samedi : 9h à 19h</br>
                </li>
            </ul>
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span><em> Fermé le Mardi, le Dimanche, les jours fériés (1er Mai, 1er Novembre et 25 Décembre)</em>


        </div>
        <div id="expoencours" class="col-md-6">
            <h3>Expositions en cours et à venir :</h3></br>
            </br>
            <ul>
                {% for expos in listExpos %}
                <li>{{ expos.title }} : Du {{ expos.datestart|date("m/d/Y") }} au {{ expos.dateend|date("m/d/Y") }}</li>
                {% endfor%}
            </ul>
        </div>
    </div>
    {# On affiche tous les messages flash dont le nom est « notice » #} 
{% for message in app.session.flashbag.get('paiement') %}
    <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
</div>
{% block indexbody %} {% endblock %} {% endblock %}