{% extends "P3SiteBundle:Site:index.html.twig" %} {% block indexbody %}
</div>
<div class="container">
    <div class="row">
        <div>
            <h2 id="billetterie">Billetterie</h2>
            <ul class="nav nav-pills">
                <li class="active"><a >Commande</a></li>
                <li><a class="disabled">Coordonnées</a></li>
                <li><a class="disabled">Paiement</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">{{ include("P3SiteBundle:Site:formcommande.html.twig") }} </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}