{% extends "P3CoreBundle::layout.html.twig" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <h2>Conditions générales de vente</h2><hr>
<div>   
    Musée du Louvre</br>
<p>Sociétéau capital de XXXX euros</br>
Siège social Paris </br> 

N° de téléphone 01.02.03.04.05 ; symfonyprojet@gmail.com</p>
 



Conditions générales de vente des produits vendus sur projet3.testprojetformation.fr </br>

Date de dernière mise à jour 20/02/2017</br></br>

<p><h3>Article 1 - Objet</h3></br></br>

Les présentes conditions régissent les ventes par la société du Musée du Louvre de billet d'entrée. </p>

<p><h3>Article 2 - Prix</h3></br></br>

Les prix de nos produits sont indiqués en euros toutes taxes comprises (TVA et autres taxes applicables au jour de la commande), sauf indication contraire et hors frais de traitement et d'expédition. </br>

En cas de commande vers un pays autre que la France métropolitaine vous êtes l'importateur du ou des produits concernés. Des droits de douane ou autres taxes locales ou droits d'importation ou taxes d'état sont susceptibles d'être exigibles. Ces droits et sommes ne relèvent pas du ressort de la société. Ils seront à votre charge et relèvent de votre entière responsabilité, tant en termes de déclarations que de paiements aux autorités et organismes compétents de votre pays. Nous vous conseillons de vous renseigner sur ces aspects auprès de vos autorités locales. </br>

Toutes les commandes quelle que soit leur origine sont payables en euros.  </br>

La société se réserve le droit de modifier ses prix à tout moment, mais le produit sera facturé sur la base du tarif en vigueur au moment de la validation de la commande et sous réserve de disponibilité. </br>

Les produits demeurent la propriété de la société jusqu'au paiement complet du prix.  </br>

Attention : dès que vous prenez possession physiquement des produits commandés, les risques de perte ou d'endommagement des produits vous sont transférés.</p> 

<p><h3>Article 3 - Commandes</h3></br></br>

Vous pouvez passer commande : </br>

Sur Internet : projet3.testprojetformation.fr </br>
Les informations contractuelles sont présentées en langue française et feront l'objet d'une confirmation au plus tard au moment de la validation de votre commande.  </br>

La société se réserve le droit de ne pas enregistrer un paiement, et de ne pas confirmer une commande pour quelque raison que ce soit, et plus particulièrement en cas de problème d'approvisionnement, ou en cas de</br> difficulté concernant la commande reçue. </p>

<p><h3>Article 4 - Validation de votre commande</h3></br></br>

Toute commande figurant sur le site Internet projet3.testprojetformation.fr suppose l'adhésion aux présentes Conditions Générales. Toute confirmation de commande entraîne votre adhésion pleine et entière aux présentes conditions générales de vente, sans exception ni réserve.  </br>

L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. </br>

Vous déclarez en avoir parfaite connaissance.  </br>

La confirmation de commande vaudra signature et acceptation des opérations effectuées.  </br>

Un récapitulatif des informations de votre commande et des présentes Conditions Générales, vous sera communiqué en format PDF via l'adresse e-mail de confirmation de votre commande. </p>

<p><h3>Article 5 - Paiement</h3></br></br>

Le fait de valider votre commande implique pour vous l'obligation de payer le prix indiqué.  </br>

Le règlement de vos achats s'effectue par carte bancaire grâce au système sécurisé stripe.</br>

Le débit de la carte n'est effectué qu'au moment de l'expédition de la commande. En cas de livraisons fractionnées, seuls les produits expédiés sont débités. </p>
</div>    </div>    </div>  {% endblock %}  