<div class="well">
    <h3>Montant Total : {{ total/100 }}€</h3>
<form action="{{ path('p3_site_paiement',{'id' : id , 'idliste' : idliste})}}" method="POST" id="payment-form">
    <span id="erreur" class="payment-errors"></span></br>

    <div class="form-group">
        <label>
            <span class="control-label">Numéro de carte</span>
        </label>
            <input type="text" size="20" data-stripe="number" class="form-control">
        
    </div>

    <div class="form-group">
        <label>
            <span class="control-label">Expiration (MM/AA)</span>
        </label>
            <div class="form-inline ">
                <input type="text" size="2" data-stripe="exp_month" class="form-control">
        
                <span class="control-label"> / </span>
                <input type="text" size="2" data-stripe="exp_year" class="form-control">
            </div>
    </div>

    <div class="form-group">
        <label>
            <span class="control-label">Cryptogramme visuel</span>
        </label>
            <input type="text" size="4" data-stripe="cvc" class="form-control" >
        
    </div>

    <div class="form-group">
        <label>
            <span class="control-label">Code Postal</span>
        </label>
            <input type="text" size="6" data-stripe="address_zip" class="form-control">
        
    </div>

    <input type="submit" class="submit btn btn-primary" value="Paiement">
</form>
</div>