services:
    p3_site.validator.datecorrect:
        class: P3\SiteBundle\Validator\DatecorrectValidator
        arguments: ["@request_stack", "@doctrine.orm.entity_manager"]
        tags:
            - { name: validator.constraint_validator, alias: p3_site_datecorrect }

